body {
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
  background-position: top right, bottom left;
  background-size: 30% 70%, 20% 30%;

  background-repeat: no-repeat;
  /* background-position: center center; */
  font-family: "Montserrat", sans-serif;
  color: gray;
  background-color: hsl(240, 78%, 98%);
}
h1 {
  margin-bottom: 1rem;
}
.heading {
  height: 200px;
  margin-top: 5em;
  text-align: center;
}
.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.out {
  display: flex;
  justify-content: center;
}

.plan {
  text-align: center;
  height: 450px;
  width: 20%;
  padding-right: 2em;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 10px gray;
}
.professional {
  text-align: center;
  height: 500px;
  width: 20%;
  background-color: #6d71df;
  color: white;
  border-radius: 0.5rem;
}
ul {
  list-style: none;
  margin-bottom: 3em;
}
.plan:hover ul {
  margin-bottom: 5em;
}
.plan:not(:hover) .professional ul {
  margin-bottom: 5em;
}
li {
  padding: 1em 0;
  border-bottom: solid;
  border-width: thin;
}
.basic {
  order: 1;
}
.professional {
  order: 2;
}
.master {
  order: 3;
}
.learn-more {
  border-style: none;
  padding: 2% 20%;
  text-decoration: none;
  color: white;
  background-color: #757ae2;
  border-radius: 0.5rem;
  margin-top: 2em;
}

.professional .learn-more {
  border-style: none;
  padding: 2% 20%;
  text-decoration: none;
  color: #757ae2;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 5em;
}
.plan:not(:hover) .professional .learn-more {
  border-style: none;
  padding: 2% 20%;
  text-decoration: none;
  color: #757ae2;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 5em;
}
.plan:hover {
  text-align: center;
  height: 500px;
  width: 20%;
  background-color: #6d71df;
  color: white;
  border-radius: 0.5rem;
}
.basic:hover ~ .professional:not(:hover),
.master:hover ~ .professional:not(:hover) {
  text-align: center;
  height: 450px;
  width: 20%;
  padding-right: 2em;
  background-color: #ffffff;
  color: gray;
  border-radius: 1rem;
}
.plan:hover .learn-more {
  border-style: none;
  padding: 2% 20%;
  margin-top: 5rem;
  text-decoration: none;
  color: #757ae2;
  background-color: white;
  border-radius: 0.5rem;
}

/* for toggle*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #757ae2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #757ae2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h4 {
  display: inline;
}
.discounted {
  font-size: 1.5em;
}
.monthly,
.anually {
  font-size: 2em;
}
.monthly {
  display: none;
}
.under {
  margin-top: 2em;
  padding: 1em 0;
  border-top: solid;
  border-width: thin;
}
.header {
  margin-bottom: 2em;
}
.professional ul {
  margin-bottom: 5em;
}
